@model MarCom.ViewModel.PromotionItemFileViewModel

<tr id="promotion-@Model.Id">
    <td>
        <input type="file" name="ImageFile" required id="txtUploadFile" />
        <input type="file" name="images[]" accept="image/*" id="txtUploadFile" value="Browse" class="btn btn-primary" multiple />
        @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
        @ViewBag.FileStatus
    </td>
    <td>
        @Html.EditorFor(model => model.Filename, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Filename, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Todo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Todo, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Request_Due_Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        @Html.ValidationMessageFor(model => model.Request_Due_Date, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.Start_Date, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.End_Date, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
    </td>
    <td>
        <button type="button" class="btn btn-delete" title="Delete" onclick="RemoveRow(this)">
            <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
        </button>
    </td>
</tr>
