@model MarCom.ViewModel.PromotionViewModel

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.EventCode, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.T_Event_Id, (IEnumerable<SelectListItem>)ViewBag.EventCode, "Select Event Code", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.T_Event_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-4">Select From Design</span>

        <div class="col-md-8">
            <label for="yesCheck">Yes</label> <input type="radio" onclick="yesnoCheck();" name="yesno" id="yesCheck" />
            <label for="noCheck">No</label> <input type="radio" onclick="yesnoCheck();" name="yesno" id="noCheck`" />

            <div id="ifYes" style="visibility:hidden">
                <div class="form-group">
                    @Html.LabelFor(model => model.DesignCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.T_Design_Id, (IEnumerable<SelectListItem>)ViewBag.DesignCode, "Select Design Code", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Cancel" class="btn btn-warning" data-dismiss="modal" />
            <input type="button" value="Next" class="btn btn-primary" id="btn-next" onclick="create2()" />
        </div>
    </div>
</div>


<script type="text/javascript">

    function yesnoCheck() {
        if (document.getElementById('yesCheck').checked) {
            document.getElementById('ifYes').style.visibility = 'visible';
        }
        else document.getElementById('ifYes').style.visibility = 'hidden';
    }
</script>
