@model MarCom.ViewModel.PromotionViewModel
@{
    ViewBag.Title = "List Marketing Promotion";
}

@Styles.Render("~/ AdminLTE / plugins / datatables / css")
<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td colspan="7"></td>
                        <td class="col-lg-offset-11">
                            <button type="button" id="btn-new" class="btn btn-primary btn-sm">Add</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Transaction Code" />
                        </td>
                        <td class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Request By" />
                        </td>
                        <td class="col-lg-1">
                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="Request Date" type="date" value="Created" />
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                        </td>
                        <td class="col-lg-2">
                            <input type="text" class="form-control" placeholder="-Assign To-" />
                        </td>
                        <td class="col-lg-1">
                            <input type="text" class="form-control" placeholder="Status" />
                        </td>
                        <td class="col-lg-1">
                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="Created" type="date" value="Created" />
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                        </td>
                        <td class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Create By" />
                        </td>
                        <td class="col-lg-offset-1">
                            <button type="button" id="btn-search" class="btn btn-warning btn-sm">Search</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12" id="table-list">
    <h3>Loading...</h3>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        //button Add
        $("#btn-new").click(function () {
            $(".modal-title").html("Add Data");
            $.ajax({
                url: '@Url.Action("Create","Promotion")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        


         function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Promotion")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        //untuk nambahin add item dari promotion
        function AddItem() {
            $.ajax({
                url: '@Url.Action("AddItem","Promotion")',
                type: 'get',
                success: function (result) {
                    $('#promotion-file').append(result);
                },
                error: function (err) {
                    $("#promotion-file").html(err);
                }
            });
        }

        //ini function untuk form dari design request
        function GetDesignReq(id) {
            $.ajax({
                url: '@Url.Action("DesignReq", "Promotion")',
                type: 'get',
                data: {id:id},
                success: function (result) {
                    $("#design-req").html(result);
                },
                error: function (err) {
                    $("#design-req").html(err);
                }
            });
        }

        //function untuk add item dari design request item
        function GetDesignReqItem(id) {
            $.ajax({
                url: '@Url.Action("DesignReqItem", "Promotion")',
                type: 'get',
                data:{id:id},
                success: function (result) {
                    $("#designitem-req").html(result);
                },
                error: function (err) {
                    $("#designitem-req").html(err);
                }
            });
        }

        function RemoveRow(obj) {
            $(obj).closest('tr').remove();
        }

        //fungsi untuk menampilkan design
        function getDesignView(id) {
            $.ajax({

                url: '@Url.Action("ViewDesign","Promotion")',
                type: 'get',
                data: { id: id },
                success: function (result){
                    $("#design-request").html(result);
                },
                error: function (err) {
                    $("#design-request").html(result);
                }
            });
        }

        //fungsi untuk menampilkan design item
        function getDesignItemView(id) {
            $.ajax({
                url: '@Url.Action("ViewDesignItem","Promotion")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#design-item").html(result);
                },
                error: function (err) {
                    $("#design-item").html(result);
                },
            });
        }

        //fungsi untuk menampilkan promotion item
        function getPromotionFile(id) {
            $.ajax({
                url: '@Url.Action("ViewPromotionItemFile", "Promotion")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#promotion-file").html(result);
                },
                error: function (err) {
                    $("#promotion-file").html(result);
                },
            });
        }

        //untuk edit design request
        function getEditDesignReq(id) {
            debugger
            $.ajax({
                url: '@Url.Action("EditDesign", "Promotion")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#Editdesign-req").html(result);
                },
                error: function (err) {
                    $("#Editdesign-req").html(result);
                },
            });
        }

        function getEditDesignItemReq(id) {
            debugger
            $.ajax({
                url: '@Url.Action("EditDesignItem", "Promotion")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#Editdesignitem-req").html(result);
                },
                error: function (err) {
                    $("#Editdesignitem-req").html(result);
                },
            });
        }

        function action(act, id) {
            $.ajax({
                url: '/Promotion/' + act,
                type: 'get',
                data: { id: id },
                dataType: 'html',
                success: function (result) {
                    $('#modal-input').find('.modal-body').html(result);
                    $('#modal-input').modal('show');
                    getEditDesignReq(id);
                    getEditDesignItemReq(id);

                    getDesignView(id); //agar view design dapat tampil ketika menekan button approve
                    getDesignItemView(id); //agar view design item dapat tampil ketika menekan button approve
                    getPromotionFile(id); //agar view promotion file dapat tampil ketika menekan button approve
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        //button submit
        $("#modal-input").on("submit", "#input-form", function () {
            var vUrl = $(this).attr('action');
            var vMethod = $(this).attr('method');

            var vData = {Id : $(this).find("#Id").val(), T_Design_Id: $(this).find('#T_Design_Id').val(), Code: $(this).find('#Code').val(), T_Event_Id: $(this).find('#T_Event_Id').val(), Title: $(this).find('#Title').val(), Request_By: $(this).find('#Request_By').val(), Date: $(this).find('#Date').val(), Note: $(this).find('#Note').val() };

            var vItems = [];
            $('#designitem-req').find('tr').each(function (index) {
                var vItem = { Id : $(this).find("#Id").val(), T_Design_Item_Id: $(this).find('T_Design_Item_Id').val(), M_Product_Id: $(this).find('#M_Product_Id').val(), Title: $(this).find('#Title').val(), Qty: $(this).find('#Qty').val(), Todo: $(this).find('#Todo').val(), Request_Due_Date: $(this).find('#Request_Due_Date').val(), Note: $(this).find('#Note').val() };
                vItems.push(vItem);
            });

            var vFiles = [];
            $('#promotion-file').find('tr').each(function (index) {
                var vFile = { Id : $(this).find("#Id").val(), Qty: $(this).find('#Qty').val(), Todo: $(this).find('#Todo').val(), Request_Due_Date: $(this).find('#Request_Due_Date').val(), Note: $(this).find('#Note').val() };
                vFiles.push(vFile);
            });
            debugger
            $.ajax({
                url: vUrl,
                type: vMethod,
                data: { model: vData, itemModel: vItems, fileModel: vFiles },
                success: function (result) {
                    if (result.success) {
                        alert("Succesful! Data has been saved.");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Eror! Data has not been saved. \n" + result.message);
                    }
                }
            });
            return false;
        });


        function create2() {
            var designID = $('#T_Design_Id').val();
            $.ajax({
                url: '@Url.Action("Create2","Promotion")',
                type: 'get',
                data: { designid: designID },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                    GetDesignReq(designID);
                    GetDesignReqItem(designID);
                }
            });
        }

        function create3() {
            //var eventID = $('T_Event_Id').val();
            $.ajax({
                url: '@Url.Action("Create3","Promotion")',
                type: 'get',
                //data:{eventid: eventID},
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                    AddItem();
                }
            });
        }

        var value;
        function Approve(value) {
            var data = {
                assign_to: $('#assignto').val(),
                status: value,
                reject_reason: $('#reject-reason').val(),
                id: $('#promotion-id').val(),
            };
            debugger
            $.ajax({
                url: '@Url.Action("Approve","Promotion")',
                type: 'post',
                data: data,
                success: function (result) {
                    if (result.success) {
                        $("#reason-input").modal("hide");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error")
                        GetList();
                    }
                }
            });
        };
    </script>
}

