@model MarCom.ViewModel.UserViewModel

@{
    ViewBag.Title = "User";
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                List User
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ol class="breadcrumb">
            <li><a href="Home">Home</a></li>
            <li><a href="Master">Master</a></li>
            <li class="active">List User</li>
        </ol><table>
            <tr>
                <td colspan="6"></td>
                <td>
                    <button type="button" id="btn-new" class="btn btn-primary btn-sm">Add</button>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    @Html.DropDownListFor(model => model.M_Employee_Id, (IEnumerable<SelectListItem>)ViewBag.Employee, "-Employee-", new { @id = "Employee", @class = "form-control" })
                </td>
                <td class="col-md-2">
                    @Html.DropDownListFor(model => model.M_Role_Id, (IEnumerable<SelectListItem>)ViewBag.Role, "-Role-", new { @id = "Role", @class = "form-control" })
                </td>
                <td class="col-md-2">
                    @Html.DropDownListFor(model => model.Company, (IEnumerable<SelectListItem>)ViewBag.Company, "-Company-", new { @id = "Company", @class = "form-control" })
                </td>
                <td class="col-md-2">
                    <input id="Username" name="Username" type="text" class="form-control text-box single-line" placeholder="Username" />
                </td>
                <td class="col-md-2">
                    <div class="input-group">
                        <input id="Date" class="form-control datepicker" type="date" value="Created" />
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                </td>
                <td class="col-md-3">
                    <input id="Create" name="Create" type="text" class="form-control text-box single-line" placeholder="Create By" />
                </td>
                <td>
                    <button type="button" id="btn-search" class="btn btn-warning btn-sm" onclick="Searh()">Search</button>
                </td>
            </tr>
        </table>
        <br>
        <div class="row" id="table-list">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        $("#btn-new").click(function () {
            $(".modal-title").html("Add new User");
            $.ajax({
                url: '@Url.Action("Add", "User")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "User")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }


        $("#btn-search").click(function Search() {
            var data = {
                employee: $("#Employee").val(),
                role: $("#Role").val(),
                company: $("#Company").val(),
                username: $("#Username").val(),
                create_date: $("#Date").val(),
                create_by: $("#Create").val()
            };
            $.ajax({
                url: '@Url.Action("Filter", "User")',
                type: 'post',
                data: data,
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        });

    </script>
}
