@model IEnumerable<MarCom.ViewModel.UserViewModel>

@{
    ViewBag.Title = "User";
}

@Scripts.Render("~/AdminLTE/plugins/datatables/css")
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                List User
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ol class="breadcrumb">
            <li><a href="Home">Home</a></li>
            <li><a href="Master">Master</a></li>
            <li class="active">List User</li>
        </ol>
        <table class="table" id="example1">
            <thead id="tb-input">
                <tr>
                    <td colspan="7"></td>
                    <td>
                        <button type="button" id="btn-new" class="btn btn-primary btn-sm">Add</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="col-md-offset-2">
                        @Html.DropDownList("Fullname", (IEnumerable<SelectListItem>)ViewBag.Employee, "-Employee-", new { @id = "col1_filter", @class = "form-control column_filter", @data="1" })
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.Role, "-Role-", new { @id = "col2_filter", @class = "form-control column_filter", @data="2" })
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DropDownList("Company", (IEnumerable<SelectListItem>)ViewBag.Company, "-Company-", new { @id = "col3_filter", @class = "form-control column_filter", @data="3" })
                    </td>
                    <td class="col-md-offset-2">
                        @Html.TextBox("UserName", null, new { @class="form-control column_filter", @id="col4_filter", @data="4", @placeholder="Username"})
                    </td>
                    <td class="col-md-offset-2">
                        @Html.TextBox("Create_By", null, new { @class="form-control column_filter", @id="col5_filter", @data="5", @placeholder="Create By"})
                    </td>
                    <td class="col-md-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control column_filter datepicker" id="col6_filter" data="6" placeholder="Create Date"/>
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        </div>
                    </td>
                    <td>
                        <button type="button" id="btn-search" class="btn btn-warning btn-sm" onclick="Search()">Search</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        No
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Fullname)
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Role)
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Company)
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Username)
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Create_By)
                    </td>
                    <td class="col-md-offset-2">
                        @Html.DisplayNameFor(model => model.Create_Date)
                    </td>
                    <td class="col-md-offset-2">Action</td>
                </tr>
            </thead>
            <tbody id="table-list">
                @Html.Partial("_List", Model)
            </tbody>
        </table>
        <br>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="title-panel"></h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
@Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        //$(document).ready(function () {
        //    GetList();
        //});

        $(document).ready(function () {
            $('#example1').DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filterColumn($(this).attr("data-column"));
            });

        });

        function filterColumn(i) {
            $("#example1").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        }

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function (i) {
                filterColumn($(this).attr('data'));
            });
        });

        $("#tb-input").find(".datepicker").datepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
        });

        $("#btn-new").click(function () {
            $("#title-panel").html("Add new User");
            $.ajax({
                url: '@Url.Action("Add", "User")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "User")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }


        @*$("#btn-search").click(function Search() {
            var data = {
                employee: $("#Employee").val(),
                role: $("#Role").val(),
                company: $("#Company").val(),
                username: $("#Username").val(),
                create_date: $("#Date").val(),
                create_by: $("#Create").val()
            };
            $.ajax({
                url: '@Url.Action("Filter", "User")',
                type: 'post',
                data: data,
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        });*@

        function action(act, id, fullname, username) {
            $.ajax({
                url: '/User/' + act,
                type: 'get',
                data: { id: id },
                dataType: 'html',
                success: function (result) {
                    $('#modal-input').find('.modal-body').html(result);
                    $('#title-panel').html(act + " User - " + fullname + " (" + username + " )");
                    $('#modal-input').modal('show');
                },
                error: function (err) {
                    $('#table-list').html(err);
                }
            });
        }

        $('#modal-input').on("submit", "#input-form", function () {
            var vUrl = $(this).attr('action');
            var vMethod = $(this).attr('method');
            var vData = $(this).serialize();
            $.ajax({
                url: vUrl,
                type: vMethod,
                data: vData,
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert(result.message);
                    }
                }
            });
            return false;
        });

    </script>
}
