@model MarCom.ViewModel.UnitViewModel

@{
    ViewBag.Title = "Unit";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                List Unit
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ol class="breadcrumb">
            <li><a href="Home">Home</a></li>
            <li><a href="Master">Master</a></li>
            <li class="active">List Unit</li>
        </ol>
        <table>
            <tr>
                <td colspan="4"></td>
                <td>
                    <button type="button" id="btn-new" class="btn btn-primary btn-sm">Add</button>
                </td>
            </tr>
            <tr>
                <td class="col-lg-3">
                    @Html.DropDownListFor(model => model.Code, (IEnumerable<SelectListItem>)ViewBag.Unit1, "-Select Unit Code-", new { @id="Code", @class = "form-control" })
                </td>
                <td class="col-lg-3">
                    @Html.DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)ViewBag.Unit2, "-Select Unit Name-", new { @id="Name", @class = "form-control" })
                </td>
                <td class="col-lg-3">
                    <div class="input-group">
                        <input id="Date" class="form-control datepicker" type="date" value="Created" />
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                </td>
                <td class="col-lg-3">
                    <input id="Create" name="Create" type="text" class="form-control text-box single-line" placeholder="Create By" />
                </td>
                <td>
                    <button type="button" id="btn-search" class="btn btn-warning btn-sm" onclick="Searh()">Search</button>
                </td>
            </tr>
        </table>
        <br>
        <div class="row" id="table-list">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h4 class="text-bold" id="title-panel"></h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Unit")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        $("#btn-search").click(function Search(){
            var data = {
                code: $("#Code").val(),
                name: $("#Name").val(),
                create_date: $("#Date").val(),
                create_by: $("#Create").val()
            };
            $.ajax({
                url : '@Url.Action("Filter", "Unit")',
                type : 'post',
                data : data,
                success : function (result){
                    $("#table-list").html(result);
                },
                error : function (err){
                    $("#table-list").html(err);
                }
            });
        });

        $("#btn-new").click(function () {
            $("#title-panel").html("Add new Unit");
            $.ajax({
                url: '@Url.Action("Add", "Unit")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        function action(act, id, code) {
            $.ajax({
                url: '/Unit/' + act,
                type: 'get',
                data: { id: id },
                dataType: 'html',
                success: function (result) {
                    $('#modal-input').find('.modal-body').html(result);
                    $("#title-panel").html(act + " Unit " +code);
                    $('#modal-input').modal('show');
                },
                error: function (err) {
                    $('#table-list').tml(err);
                }
            });
        }

        $('#modal-input').on("submit", "#input-form", function () {
            var vUrl = $(this).attr('action');
            var vMethod = $(this).attr('method');
            var vData = $(this).serialize();
            $.ajax({
                url: vUrl,
                type: vMethod,
                data: vData,
                success: function (result) {
                    if (result.success) {
                        alert("Data code : " + result.entity.Code + " has been saved");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error! Unit has not been saved. \n " + result.message);
                    }
                }
            });
            return false;
        });
    </script>
}