@model MarCom.ViewModel.EventApproveViewModel

@using (Html.BeginForm("Approve", "Event", FormMethod.Post, new { @id = "input-form" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <table style="padding-bottom:15px">
            <tr class="row">
                <td>
                    <span>Transaction Code</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Request By</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Request_By, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>

            <tr class="row">
                <td>
                    <span>Event Name</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Event_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Request Date</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Request_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>

            <tr class="row">
                <td>
                    <span>Event Place</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Note</span>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>
            <tr class="row">
                <td>
                    <span>Start Date</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>
            <tr class="row">
                <td>
                    <span>End Date</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>
            <tr class="row">
                <td>
                    <span>Budget</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
            </tr>
            <tr class="row">
                <td>
                    <span>Asign to</span>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Assign_To, (IEnumerable<SelectListItem>)ViewBag.Employee, "Select Employee", new { @class = "form-control" })
                </td>
            </tr>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve" class="btn btn-primary" />
                <input type="submit" value="Reject" class="btn btn-danger" />
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            </div>
        </div>
    </div>
}
