@model IEnumerable<MarCom.ViewModel.EventViewModel>
@{
    int Row = 0;
}
<table class="table table-bordered table-striped">
    <thead>

        <tr>
            <th> No </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_Date)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(Row += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRequest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_Date)
                </td>
                <td>
                    <button type="button" class="btn btn-view btn-default" data-id="@item.Id" title="View" onclick="action('details',@item.Id)">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-edit btn-default" data-id="@item.Id" title="Edit" onclick="action('edit',@item.Id)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-approve" data-id="@item.Id" title="Approve" onclick="action('approve', @item.Id)">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </button>  
                </td>
            </tr>
        }
    </tbody>

</table>
