@model IEnumerable<MarCom.ViewModel.DesignRequestViewModel>
@{
    int row = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assign_To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_By)
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(row += 1)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.Code)
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assign_To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_By)
                </td>
                <td>
                    <div class="btn-group" >
                        @{ 
                            string editStyle = "";
                            string approveStyle = "";
                            if (item.Status == 2)
                            {
                                editStyle = "disabled";
                            }
                            else if (item.Status == 0)
                            {
                                approveStyle = "disabled";
                            }
                        }
                        <button type="button" class="btn btn-default btn-view" title="View" onclick="action('View', @item.Id, '@item.Code')">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-warning btn-edit" @editStyle title="Edit" id="design-edit" onclick="action('Edit', @item.Id, '@item.Code')">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-approve" @approveStyle title="Approve" onclick="action('Approve', @item.Id, '@item.Code')">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
