@model MarCom.ViewModel.SouvenirItemViewModel

    <tr id="request-@Model.Id">
        <td>
            @Html.DropDownListFor(model => model.M_Souvenir_Id, (IEnumerable<SelectListItem>)
                   ViewBag.Souvenir, "Select Souvenir", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.M_Souvenir_Id, "", new { @class = "text-danger" })
        </td>

        <td>
            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
        </td>

        <td>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </td>

        <td>
            <button type="button" class="btn btn-edit" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-delete" title="Delete" onclick="RemoveRow(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <td>
    </tr>