@model IEnumerable<MarCom.ViewModel.SouvenirRequestViewModel>

<table class="table">
    <tr>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Code)
        </td>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Request_By)
        </td>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Request_Date)
        </td>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Request_Due_Date)
        </td>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Status)
        </td>
        <td class="col-md-offset-1">
            @Html.DisplayNameFor(model => model.Create_By)
        </td>
        <td class="col-md-offset-2">
            @Html.DisplayNameFor(model => model.Create_Date)
        </td>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Due_Date)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.Status, new { @id ="status-id" })
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            <button type="button" class="btn btn-default btn-view" data-id="@item.Id" title="View" onclick="action('Details', @item.Id)">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit" onclick="action('Edit', @item.Id)">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger btn-approve" data-id="@item.Id" title="Approve" onclick="action('Approve', @item.Id)">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger btn-received" data-id="@item.Id" title="Received" onclick="action('Received', @item.Id)">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger btn-settlement" data-id="@item" title="Settlement Approved" onclick="action('SouSettApproved', @item.Id)">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
}

</table>
