@model IEnumerable<MarCom.ViewModel.SouvenirRequestViewModel>
@{
    ViewBag.Title = "List Souvenir Request";
}

@Scripts.Render("~/AdminLTE/plugins/datatables/css")

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div>
                <table class="table table-bordered table-striped" id="example1">
                    <thead id="tb-input">
                        <tr>
                            <td colspan="8"></td>
                            <td>
                                <button type="button" id="btn-new" class="btn btn-primary btn-sm" title="Add New">Add</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.TextBox("Code", null, new { @class = "form-control column_filter", @id = "col1_filter", @data = "1" ,placeholder="Trancsaction Code" })
                            </td>
                            <td>
                                @Html.TextBox("Request_By", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2", placeholder = "Request By" })
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input type="text" class="form-control column_filter datepicker" id="col3_filter" data="3" placeholder="Request Date" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input class="form-control column_filter datepicker" placeholder="Due Date" type="text" id="col4_filter" data="4" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                            <td>
                                @Html.TextBox("Status", null, new { @class = "form-control column_filter", @id = "col5_filter", @data = "5", placeholder = "Status" })
                            </td>
                            <td>
                                @Html.TextBox("Created_By", null, new { @class = "form-control column_filter", @id = "col6_filter", @data = "6", placeholder = "Created By" })
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input type="text" class="form-control column_filter datepicker" id="col7_filter" data="7" placeholder="Created" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                            
                            <td>
                                <button type="button" id="btn-search" class="btn btn-warning btn-sm" title="Search">Search</button>
                            </td>
                        </tr>
                        @*<tr>
                            <td class="col-md-offset-2">
                                <input name="Code" type="text" class="form-control text-box single-line" placeholder="Transaction Code" />
                            </td>
                            <td class="col-md-offset-2">
                                <input name="Request_By" type="text" class="form-control text-box single-line" placeholder="Request By" />
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input class="form-control datepicker" placeholder="Request Date" type="date" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input class="form-control datepicker" placeholder="Due Date" type="date" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td>
                            <td class="col-md-offset-2">
                                <input name="Status" type="text" class="form-control text-box single-line" placeholder="Status" />
                            </td>
                            <td class="col-md-offset-2">
                                <input name="Created_By" type="text" class="form-control text-box single-line" placeholder="Created By" />
                            </td>
                            <td class="col-md-offset-2">
                                <div class="input-group class=" col-md-offset-2"">
                                    <input class="form-control datepicker" placeholder="Created" type="date" />
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </td></tr>*@
                        <tr class="text-bold text-center bg-blue">
                            <td>
                                No.
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Code)
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Request_By)
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Request_Date)
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Request_Due_Date)
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td class="col-md-offset-1">
                                @Html.DisplayNameFor(model => model.Create_By)
                            </td>
                            <td class="col-md-offset-2">
                                @Html.DisplayNameFor(model => model.Create_Date)
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>

                    <tbody id="table-list">
                        @Html.Partial("_List", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h4 class="text-bold" id="title-panel"><button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close"></button></h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        //$(document).ready(function () {
        //    GetList();
        //});

        $(document).ready(function () {
            $('#example1').DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filterColumn($(this).attr("data-column"));
            });

        });

        function filterColumn(i) {
            $("#example1").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        }

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function (i) {
                filterColumn($(this).attr('data'));
            });
        });

        $("#tb-input").find(".datepicker").datepicker({
            format: "mm/dd/yyyy",
            autoclose: true,
        });

        $("#btn-new").click(function () {
            $.ajax({
                url: '@Url.Action("Add","SouvenirRequest")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                    $("#title-panel").html("Add Souvenir Request")
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "SouvenirRequest")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        function GetListItem(id) {
            $.ajax({
                url: '@Url.Action("ListItem", "SouvenirRequest")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $('#item-body').append(result);
                },
                error: function (err) {
                    $('#item-body').html(err);
                }
            });
        }

        function GetDetailItem(id) {
            $.ajax({
                url: '@Url.Action("DetailItem", "SouvenirRequest")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $('#item-body').append(result);
                },
                error: function (err) {
                    $('#item-body').html(err);
                }
            });
        }


        function GetApproveItem(id) {
            $.ajax({
                url: '@Url.Action("ApproveList", "SouvenirRequest")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#approve-item-body").html(result);
                },
                error: function (err) {
                    $("#approve-item-body").html(err);
                },
            });
        }

        function AddItem() {
            $.ajax({
                url: '@Url.Action("AddItem", "SouvenirRequest")',
                type: 'get',
                success: function (result) {
                    $('#item-body').append(result);
                },
                error: function (err) {
                    $("#item-body").html(err);
                }
            });
        }

        function RemoveRow(obj) {
            $(obj).closest('tr').remove();
        }

        @*function RemoveRow(obj, id) {
            $.ajax({
                url: '@Url.Action("DeleteItem","SouvenirRequest")',
                type: 'post',
                data: { id: id },
                success: function (result) {
                    $(obj).closest('tr').remove();
                },
            });
        }*@

        function Disable(obj) {
            var tr = $(obj).closest('tr');
            $(tr).find('Select[disabled]').prop('disabled', false);
            $(tr).find('Input[disabled]').prop('disabled', false);
        }

        function RemoveAdditem() {
            $('#additem-button').closest('td').remove();

        }

        function action(act, id, code) {
            var Code = code;
            $.ajax({
                url: '/SouvenirRequest/' + act,
                type: 'get',
                data: { id: id },
                //dataType: 'html',
                success: function (result) {
                    $('#modal-input').find('.modal-body').html(result);
                    $("#title-panel").html(act + " Souvenir Request - " + Code);
                    $('#modal-input').modal('show');
                    if (act == "Edit") {
                        GetListItem(id);
                    };
                    if (act == "Received") {
                        GetDetailItem(id);
                    };
                    SouSettItemApproved(id);
                    if (act == "Received" && act == "Settled") {
                        GetApproveItem(id)
                    }
                    if (act=="Received") {
                        RemoveAdditem();
                    }
                },
                error: function (err) {
                    $("#table-list").html(err);
                }
            });
        }

        $("#modal-input").on("submit", "#input-form", function () {
            var vUrl = $(this).attr('action');
            var vMethod = $(this).attr('method');
            var vData = { Id: $(this).find("#Id").val(), Code: $(this).find("#Code").val(), T_Event_Id: $(this).find("#T_Event_Id").val(), Request_By: $(this).find("#Request_By").val(), Request_Date: $(this).find("#Request_Date").val(), Request_Due_Date: $(this).find("#Request_Due_Date").val(), Note: $(this).find("#Note").val() };
            var vItems = [];
            $("#item-body").find('tr').each(function (index) {
                var vItem = { Id: $(this).find("#Id").val(), M_Souvenir_Id: $(this).find("#M_Souvenir_Id").val(), Qty: $(this).find("#Qty").val(), Note: $(this).find("#Note").val() };
                vItems.push(vItem);
            });
            $.ajax({
                url: vUrl,
                type: vMethod,
                data: { model: vData, item: vItems },
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Eror! Data has not been saved. \n" + result.message);
                    }
                }
            });
            return false;
        });

        function Received() {
            var data = { Id: $('#Id').val(), Code: $('#Code').val() }
            $.ajax({
                url: '@Url.Action("Received","SouvenirRequest")',
                type: 'post',
                data: data,
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                        $("#receive-confirm").modal("hide");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error !! " + result.message)
                    }
                }
            });
        };

        function Settled() {
            $.ajax({
                url: '@Url.Action("SouSettRequest", "SouvenirRequest")',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        $("#reason-input").modal("hide");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error")
                    }
                }
            });
        };

        function SouSettItemApproved(id) {
            $.ajax({
                url: '@Url.Action("SouSettItemApproved", "SouvenirRequest")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $('#settlement-approved').append(result);
                },
                error: function (err) {
                    $('#settlement-approved').html(err);
                }
            });
        }

        //var value;
        function Approve(value) {
            var data = {
                status: value,
                reject_reason: $('#reject-reason').val(),
                id: $('#request-id').val(),
            };
            $.ajax({
                url: '@Url.Action("Approve","SouvenirRequest")',
                type: 'post',
                data: data,
                success: function (result) {
                    if (result.success) {
                        $("#reason-input").modal("hide");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error")
                    }
                }
            });
        };

        var value;
        function Approved(value) {
            var data = {
                status: value,
                reject_reason: $('#reject-reason').val(),
                id: $('#settlement-id').val(),
            };
            debugger
            $.ajax({
                url: '@Url.Action("SouSettItemApproved", "SouvenirRequest")',
                type: 'post',
                data: data,
                success: function (result) {
                    if (result.success) {
                        $("#reason-input").modal("hide");
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Error")
                        GetList();
                    }
                }
            });
        };

    </script>
}